@charset "UTF-8";
* {
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
  background: #2d375d;
}
.screen__button {
	background: rgb(255,60,145);
	background: linear-gradient(90deg, rgba(255,60,145,1) 0%, rgba(97,0,200,1) 100%);
	animation: gradient 3s infinite linear;
	background-size: 800%;
	padding: 10px 0;
	border-radius: 60px;
	transition: all 0.3s ease-out;	
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.screen__button:hover{
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	-webkit-transition: all 0.2s ease-out;
}
.button__link {
  color: #fff;
  text-decoration: none;
  padding: 10px 44px;
  letter-spacing: 1px;
}
.button__link:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: "";
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0) 70%);
	transition-duration: 0.3s;
	transition-property: transform opacity;
 }
 .button__link:hover {
	transform: translateY(-5px);
 }
 .button__link:hover:before {
	opacity: 1;
	transform: translateY(5px);
 }
.start {
  font-size: 2rem;
}
h1 {
  line-height: 1.4;
  font-size: 4rem;
  color: #3a2c4d;
}
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.screen.up {
  margin-top: -100vh;
}
.screen__time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.screen__time-list li {
  margin: 10px;
}
.screen__time-btn {
  background-color: transparent;
  border: 2px solid #95598c;
  border-radius: 64px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 2rem;
  font-size: 1.5rem;
}
.screen__time-btn:hover {
  border: 2px solid #3a2c4d;
  color: #3a2c4d;
}
.hide {
  opacity: 0;
}
.primary {
  color: #95598c;
}
.screen__board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: #fff;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 30px;
  overflow: hidden;
  margin: 0px 10px 20px 10px;
}
.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 515.98px) {
	.screen__board {
		width: 300px;
		height: 400px;
	}
}
